<div class="container">
    <footer class="d-flex flex-wrap justify-content-center align-items-center py-3 my-4 border-top">
        <div class="d-flex align-items-center">
            <span class="text-muted">&copy; 2021 - &nbsp;
                <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                    <i class="fas fa-terminal" style="color: #0000ff;"></i>
                    Blog Lucas Dev
                </a>
            </span>
        </div>
    </footer>
</div>